<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" data-layout-mode="detached" data-topbar-color="dark" data-menu-color="light" data-sidenav-user="true"></html>
<head th:replace="~{layout/layout :: head}"></head>
<body>

<div class="wrapper">
    <header th:replace="~{layout/header :: header}"></header>
    <aside th:replace="~{layout/menu :: aside}"> </aside>

    <!--section class="container"-->
        <div class="content-page">
            <div class="content">
                <!-- Start Content-->
                <div class="container-fluid">

                    <div class="pagetitle mt-0">
                        <h2>Fiscore</h2>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/inicio}">Inicio</a></li>
                                <li class="breadcrumb-item"></li>
                            </ol>
                        </nav>
                    </div>
                    <br>
                    <h3>Inicio</h3>


                </div>
            </div><br>
        </div>
    <!--/section-->
</div>
<footer th:replace="~{layout/footer :: footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>